//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Open+Sans:400,700');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

$heading: "Montserrat", sans-serif, sans-serif;
$primary: "Open Sans", sans-serif, sans-serif;

//colours
$white: #ffffff;
$black: #263238;
$black-focus: #212224;
$green: #348338;
$yellow: #FFBF47;
// $blue: #337ab7;
$teal: #007299;